<!-- reset password form -->
<div class="row align-items-top">
  
    <!-- CSRF Token -->
    {{ form.hidden_tag() }}
    
    <!-- email address -->
    <div class="form-floating mb-3">
        
        {{form.email_address(class_='form-control', placeholder='Email address')}}
        <label for="{{form.email_address.label.field_id}}" class="">{{form.email_address.label.text}}
        <span id="email_address_available" class="badge"></span>
        </label>
        <div class="form-text"></div>

        {% for err in form.email_address.errors %}
        <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
        {% endfor %}
        
    </div>

    <!-- password -->
    <div class="form-floating mb-3">
      
      {{form.password(class_='form-control', placeholder='New password')}}
      <label for="{{form.password.label.field_id}}" class="">{{form.password.label.text}}</label>
      <div class="form-text"></div>
  
      {% for err in form.password.errors %}
      <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
      {% endfor %}
      
    </div>

    <!-- confirm password -->
    <div class="form-floating mb-3">
      
        {{form.confirm(class_='form-control', placeholder='Confirm password')}}
        <label for="{{form.confirm.label.field_id}}" class="">{{form.confirm.label.text}}</label>
        <div class="form-text"></div>
    
        {% for err in form.confirm.errors %}
        <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
        {% endfor %}
        
      </div>

  </div>
          