<!-- new user form -->
<div class="row align-items-top">
  
  <!-- CSRF Token -->
  {{ form.hidden_tag() }}
  
  <div class="row">

    <!-- first name -->
    <div class="form-floating col-md-6 mt-2">
    
      {{form.first_name(class_='form-control', placeholder='First name')}}
      {{form.first_name.label}}

      {% for err in form.first_name.errors %}
      <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
      {% endfor %}

    </div>
    
    <!-- last name -->
    <div class="form-floating col-md-6 mt-2 mb-3">

      {{form.last_name(class_='form-control', placeholder='Last name')}}
      {{form.last_name.label}}

      {% for err in form.last_name.errors %}
      <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
      {% endfor %}

    </div>
  </div>
  
  <div class="row col-12">
  
    <!-- email address -->
    <div class="form-floating col-xl-4 my-2">

      {{form.email_address(class_='form-control', placeholder='Email address')}}
      <label for="{{form.email_address.label.field_id}}" class="">{{form.email_address.label.text}}
        <span id="email_address_available" class="badge"></span>
      </label>
      <div class="form-text"></div>

      {% for err in form.email_address.errors %}
      <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
      {% endfor %}

    </div>
  

    <!-- username -->
    <div class="form-floating col-md-6 col-xl-4 my-2">
      
      {{form.username(class_='form-control', placeholder='Username')}}
      <label for="{{form.username.label.field_id}}" class="">{{form.username.label.text}}
        <span id="username_available" class="badge"></span>
      </label>
      <div class="form-text">Between 6 and 25 characters.</div>
  
      {% for err in form.username.errors %}
      <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
      {% endfor %}
  
    </div>
  
    <!-- password -->
    <div class="form-floating col-md-6 col-xl-4 my-2">
    
    {{form.password(class_='form-control', placeholder='Password')}}
    {{form.password.label}}
    <div id="password_help" class="form-text">Between 8 and 40 characters.</div>
  
    {% for err in form.password.errors %}
    <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
    {% endfor %}
  
  </div>
  
  <!-- submit button and terms -->
  <div class="row g-3 d-flex justify-content-start align-items-center">
    
    <!-- submit button -->
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <button type="submit" id="submit_button" class="btn btn-primary col-12">Submit</button>
    </div>
    
    <!-- accept terms -->
    <div class="col-auto form-check form-switch ms-3">
  
      {{form.agree_to_terms(class_='form-check-input')}}
      <label class="form-check-label" for="{{form.agree_to_terms.label.field_id}}">I have read and agree to <a href="#">terms and conditions</a>.</label>
  
      {% for err in form.agree_to_terms.errors %}
      <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
      {% endfor %}
  
    </div>
  </div>

</div>
      