{% extends 'base_simple-heading.html' %}

<!-- title -->
{% block title %}Change Password{% endblock %}

<!-- heading and greeting -->
{% block heading %}Change Password{% endblock %}
{% block greeting %}{% endblock %}

<!-- page content -->
{% block body %}

<div class="container d-flex justify-content-center my-5">
  
  <!-- account settings form -->
  <div class="row col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 border border-1 border-light rounded shadow-lg px-3 py-4">
    

    <form action="/change-password/{{token}}" method="POST">
      
        {% include '_change_password_form.html' %}
  
      <!-- form buttons -->
      <div class="d-flex justify-content-center">
        <div>
          <button type="submit" class="btn btn-primary btn">Change Password</button>
        </div>  
      </div>

    </form>
  
</div>
</div>

{% endblock %}

{% block page_scripts %}{% endblock %}