{% extends 'base_simple-heading.html' %}

<!-- title -->
{% block title %}Reset Password{% endblock %}

<!-- heading and greeting -->
{% block heading %}Reset Password{% endblock %}
{% block greeting %}{% endblock %}

<!-- page content -->
{% block body %}

<div class="container d-flex justify-content-center my-5">
  
  <!-- account settings form -->
  <div class="row col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 border border-1 border-light rounded shadow-lg px-3 py-4">
    

    <form action="/reset-password" method="POST">
      {% include '_reset_password_form.html' %}
  
      <!-- form buttons -->
      <div class="d-flex justify-content-center">
        <div>
          <button type="submit" class="btn btn-primary btn">Reset Password</button>
          <a href="/login" class="btn btn-outline-secondary" role="button">Return To Login</a>
        </div>  
      </div>

    </form>
  
</div>
</div>

{% endblock %}


{% block page_scripts %}{% endblock %}